/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
/*==============  HEADER ============================ */
#header{
  display: flex;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  justify-content: space-between;
}
#header .logoLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
}
.cpaLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
#header h1{
  display: flex;  
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 4.45em;
  color: #283745;

}
#header h2{
  display: flex;
  height: 1em;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 0em;
  
  color: #283745; 
}
.main{
  display: flex;
  flex-direction: row;
}
.sec{
  display: flex;
  flex-direction: column;
}
.images {
  display: flex;
  flex-direction: row;
  
}
.biopark{
  width: 2em;
  height: 2em;
  margin: 0.3em 3.12em 0.3em 0.3em;
}

.facebook{
  width: 2em;
  height: 2em;
  margin: 0.3em 3.12em 0.3em 0.3em;
}

.instagram{
  width: 2em;
  height: 2em;
  margin: 0.3em 3.12em 0.3em 0.3em;
}

.line{
  position: absolute;
  width: 100%;
  top: 8em;

  border: 0.1em solid #283745;
}
.rectangle:hover{
  transform: scale(1.2);
  transition: 0.5s;
  transition-delay: 5;
  animation-fill-mode: both;
  
}
.rectangle{

  display: flex;
  width: 2.75em;
  height: 2.75em;
  border-radius: 0 0 0.5em 0.5em;
  margin-right: 1em;
  
  background: rgba(36, 55, 70, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
  transition-delay: 5;
}
#marginal{
  margin-right: 4em;
}
/* Aqi comeca o corpo */

.container{

  width: 90%;
  height: 100%;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 2%;
  
}

.menu{
display: flex;
flex-direction: column;

/* border: solid;
border-color: black; */

margin-top: 2.60em;
width: 15%;
height: 100hv;
/* top: 11.52em; */
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.item-menu:hover{
  transform: scale(1.1);
}#last-item-menu:hover{
  transform: scale(1.1);
}
.item-menu{
display: flex;
justify-content: left;
width: 100%;
height: 3.5em;
top: 11.50em;
margin-bottom: 3.70em;
transition: 0.5s;
transition-delay: 5;
/* border: solid;
border-color: black; */

background: #283745;
border-radius: 0px 10px 10px 0px;
}

.bordinha-item-menu{
  position: static;
  width: 1.35em;
  height: 100%;
  top: 20em;
  
  /* border: solid;
  border-color: black; */
  
  background: #FF1949;
  border-radius: 0px 5px 5px 0px;

}

#textomenu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 200px;
  color: white;
  font-size: 200%;
}

#last-item-menu{
  display: flex;
  justify-content: left;
  width: 100%;
  height: 3.55em;
  top: 11.50em;
  transition: 0.5s;
  transition-delay: 5;
/*   
  border: solid;
  border-color: black; */

  background: #283745;
  border-radius: 0px 10px 10px 0px;
}

.noticias{
display: flex;
flex-direction: column;
margin-top: 1em;
margin-bottom: 3em;
}

.news1e2{
display: flex;
width: 90%;
height: 100%;
margin-left: 5%;
/* background-color: #FF1949; */
justify-content: center;
align-items: center;
}
.new1:hover{
  transform: scale(1.1);
}
.new2:hover{
  transform: scale(1.1);
}
.new3:hover{
  transform: scale(1.1);
}
.new4:hover{
  transform: scale(1.1);
}
.new1{
  transition: 1s;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #283745;
  border-radius: 5px;
}
.new2{
  transition: 1s;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #283745;
  margin-left: 2em;
  border-radius: 5px;
}
.news3e4{
  margin-top: 1em;
  display: flex;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  /* background-color: #FF1949; */
  justify-content: center;
  align-items: center;
}
.new3{
  transition: 1s;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #283745;
  border-radius: 5px;
}
.new4{
  transition: 1s;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #283745;
  margin-left: 2em;
  border-radius: 5px;
}
.imgnew img{
  width: 100%;
  height: 20%;
  object-fit: cover;
  border-radius: 1.2em;
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 0;
  
}
.imgnew{
  color: white;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

/*footer*/

.rodape{ 

  display: flex;
  background-color: #283745;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-self: flex-end;
  }
  
  .rede-social{
  
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 1em;
 
  }
  .rede-social a{
    color: white;
  }
  
  .img-center{
      flex-direction: column;
      display: flex;
      align-items: center;
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top: 15em;
      width: 20em;
      height:5% ;
      justify-content: center;
      color: white;
      font-size: 9px;
  }
  
  #mini-map{
  
      display: flex;
      align-self: flex-end;
      align-items: right;
      border: 3px;
      border-color: black;
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top: 1em;
  }

  .pagination{
    justify-content: center;
  }
 