/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
/*==============  HEADER ============================ */
body{
   
}
#header{
    display: flex;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: gray;
    justify-content: space-between;
}
#header .logoLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header h1{
    font-size: 3em;  
}
#header h2{
    font-size: 30px;  
}

.images {
    display: flex;
    flex-direction: row;
}
.frog{
 margin: 12px;
}

.facebook{
  margin: 12px;
}

.instagram{
  margin: 12px;
}







  
  
