.new{
    display: flex;
    border: solid;
    background: #283745;
    width: 85em;
    height: 767px;
    left: 268px;
    top: 165px;
    margin: 2.6em 0em 0em 6em;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
}

.tituloNew{
    width: 380px;
    height: 58px;
    left: 281px;
    top: 181px;

    font-family: Inter;
    font-style: initial;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color:white;

    text-align: center;
}

.contentNew{
    display: flex;
    width: 50em;
    height: 461px;
    left: 297px;
    top: 262px;
    margin-left: 2.6em;
    text-align: justify;
    text-justify: inter-word;
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;

    color:white;

}
.baixoNew{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#imagem{
    display: block;
    position: fixed;
    margin: 130px 0 0 174px ;
    z-index: 1;
}


#comentarioImage{
    display: flex;
    font-family: Inter;
    width: 600px;
    height: 77px;
    justify-content: center;
    color: white;
    background: #3A4651;
    border-radius: 16px;
    margin-left: 370px;
}
