.sec{
    width: 100%;
}
.containerAval{
    width: 95%;
    height: 100%;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 0;
}
.tituloNewAval{
    display: flex;
    width: 100%;
    font-family: Inter;
    font-style: initial;
    font-weight: 600;
    font-size: 3em;
    line-height: 1em;
    color:white;
    justify-content: center;
}

.imgqrcode {
    display: flex;
    width: 20%;
    align-self: center;
    margin-top: 1em;
    border-radius: 1em;
}
.newAval{
    display: flex;
    border: solid;
    background: #283745;
    width: 95%;
    height: 48em;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
}


.newAval p {
    align-self: center;
    margin-top: 2em;
    font-weight: 600;
    color:#ffff;
    font-size:20px;
}

.newAval a {
 
    color:#FF1949;
}

.newAval b {
 color:#FF1949;
}

.rede-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

@media(max-width: 670px){
    .containerAval{
     width: auto;
    }
}
@media(max-width: 650px){
    .newAval{
        height: 31em;
    } 
}
