
.form1{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.input1{
    width: 100%;
    margin-bottom: 0em;
    border-radius: 15px;
    height: 3em;
    padding: 1em;
}

.label1{
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: large;
    align-items: start;
}

textarea{
    width: 100%;
    margin-top: 0em;
    border-radius: 15px;
    padding: 1em;
}

.botao-enviar{
    width: 13em;
    align-self: end;
    margin-top: 1.5em;
    border-radius: 15px;
    height: 4em;
    background-color: #4B759B;
    color: white;
}

.retangulo{
  display: flex;
  flex-direction: column;
  background: #283745;
  color: white;
  border-radius: 15px;
  justify-content: flex-start;
  margin: 2.5em 2.5em 0em 2.5em;
  width: 90%;
  height: auto;
  align-items: center;
  padding: 1em;
  max-height: 50em;
}

.texto-retangulo{
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  
  justify-self: center;
  margin-top: 0.1em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
}

.titulo-retangulo{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 5em;

  font-family: 'Inter', sans-serif;
}
.texto-retangulo>h1{
  font-weight: 600;
  font-size: xx-large;
}

.main-retangulo{
  width: 100%;

  display: flex;
  /* padding: 2em; */
}
.assunto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-right: 1.2em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 1em;
  height: 100%;
  flex: 1;
  
}

.form2{
  display: flex;
  flex-direction: column;
}
.label2{
  margin: 0 0 0.2em 0.5em;
    justify-self: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    
  
}
input.input2{
  
  margin-top: 1em;
  justify-self: center;
  width: 2em;
  height: 2em;
  color: #4B759B;
}

li{
  display: flex;
  align-items: flex-end;

  padding: 1.0em;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: flex;
  width: 2em;
  height: 2em;
  top: 0;
  left: 0;
  background-color: #4B759B;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 1em;
  border: solid white;
  border-width: 0 0.3em 0.3em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0.2em;
  left: 0.6em;
  right: 0.4em;
  bottom: 0.2em;
}

.title-qrcode{
  margin-left: 0;
}


.main-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  
}

.footer-esq{
  flex: 1;
} 

.email,.map{
display: flex;
align-items: center;
justify-content: start;
padding: auto;
}
.email img,p,.map img,p{
  margin-left: 1.5em;
}
.insta p,.face p,.whats p{
width: 14em;
}

.footer-dir{
  flex: 1;
}
.insta,.face,.whats{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: auto;
}

/*footer*/

  .rede-social a{
    color: white;
  }
  
  .pagination{
    justify-content: center;
  }
  @media(max-width:900px){
    .bg-code{
      display: none;
    }
    .retangulo{
      max-height: none;
    }
  }
  @media(max-width:750px){
    .email img, p, .map img, p {
      margin:0;
      padding-top: 1em;
    }
    .main-retangulo{
      flex-direction: column-reverse;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    li{
      width: 10em;
    }
    
 }

  @media(max-width:650px){

    .main-footer{
      display: none;
    }
  } 
  