main{
  min-height: 35em;
}
.form1{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.input1{
    width: 100%;
    margin-bottom: 0em;
    border-radius: 1em;
    height: 3em;
}

.label1{
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8em;
    align-items: start;
}

textarea{
    width: 100%;
    margin-top: 0em;
    border-radius: 1em;
}

.botao-enviar{
    width: 13em;
    align-self: end;
    margin-top: 1.5em;
    border-radius: 1em;
    height: 4em;
    background-color: #4B759B;
    color: white;
}

.retangulo{
  display: flex;
  flex-direction: column;
  background: #283745;
  color: white;
  border-radius: 15px;
  justify-content: flex-start;
  margin: 2.5em 2.5em 0em 2.5em;
  width: 90%;
  height: 100%;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.texto-retangulo{
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  
  justify-self: center;
  margin-top: 0.1em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
}

.titulo-retangulo{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 10%;
  margin-top: 1em;
}

.titulo-retangulo h1{
  font-size: 2em;
  font-weight: 700;
}

.pdf{
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
}
.pdf>h2{

font-size: large;
color: black;
padding-bottom: 5px;
font-weight: bold;

}
.pdf>p{

text-align: justify;
color: black;

}

a:link {
  color: blue;
}


a:visited {
   color: rgba(255, 0, 0, 0.586);
}


a:hover {
   color: rgb(255, 86, 86);
}


a:active {
   color: rgb(161, 47, 47);
}

.assunto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-right: 1.2em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 1em;
  height: 100%;
  flex: 1;
  
}

.form2{
  display: flex;
  flex-direction: column;
}
.label2{
  margin: 0 0 0.2em 0.5em;
    justify-self: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    
  
}
input.input2{
  
  margin-top: 1em;
  justify-self: center;
  width: 2em;
  height: 2em;
  color: #4B759B;
}

li{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1.0em;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  left: 0;
  background-color: #4B759B;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 1em;
  border: solid white;
  border-width: 0 0.3em 0.3em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0.2em;
  left: 0.6em;
  right: 0.4em;
  bottom: 0.2em;
}




.main-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  
}

.footer-esq{
  
  flex: 1;
}

.email,.map{
display: flex;
align-items: center;
justify-content: start;
padding: auto;
}

.insta p,.face p,.whats p{
width: 14em;
}

.footer-dir{
  flex: 1;
}
.insta,.face,.whats{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: auto;
}

/*footer*/

.rodape{ 

  display: flex;
  margin-top: 2em;
  background-color: #283745;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-self: flex-end;
  }
  
  .rede-social{
  
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 1em;
 
  }
  .rede-social a{
    color: white;
  }
  
  
  
  #mini-map{
  
      display: flex;
      align-self: flex-end;
      align-items: right;
      border: 3px;
      border-color: black;
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top: 1em;
  }

  .pagination{
    justify-content: center;
  }

  .retangulo-pdf{

    display: flex;
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 15px;
    padding: 1em;
  }

  .accordion{

    display: none;

  }
  .panel{

    display: none;

  }

@media(max-width: 650px){

  .retangulo-pdf{

    display: none;

  }

  .accordion{

    display: flex;
    width:90%;
    height:auto;
    background-color: #4B759B;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
  }
  .accordion>h2{
    text-align: center;
    flex: 1;
  }

  .panel{

    
    background-color: white;
    width: 80%;
    height: auto;
    border-radius:0px 0px 10px 10px;
   
  }
  
  .retangulo{
  
   gap: 0px;
    height: auto;
    border-radius: 15px;

  }

  .panel>p{

    color: black;
    padding: 10px;
  }


}