a{
    
text-decoration: none;

}
.bg_membro{
    margin-top: 1em;
    display: flex;
    width: 30vw;
    background-color: #283745;
    border-radius: 15px;
    padding-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    padding-left:1em ;
}
.bg_membro>p{

    align-self: center;
    padding-right: 1em ;
    font-weight: bold;
    padding-left: 1em;
    color: white;
    font-size: larger;
}
.alinha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-self: stretch; */
    gap: 5em;
}
.painelmembers{
    
    width: 90%;
    /* background-color: #ffffff; */
    height: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1em;
    margin:1em;
    align-items: center;
    gap: 2em;
    margin-left: 3em ; 
    justify-content: space-around;
    margin-top: 0;
    }



.vermais{

    background-color: #2c445a;
    border-radius: 3em;
    width: 12em;
    color: white;
    border: none;
    display: flex;
    justify-content: center;

}

.membros{

color: #283745;
display: flex;
justify-content: center;

}
.membros>h1{
    font-weight: 900;
    padding-top: 1em;
}
.page-link{
    color: #283745;
}


.perfil-membros{

/* margin-top: 2em; */
display: flex;
flex-direction: column;
align-items: center;

}


.perfil-membros>h3{
    width: auto;
    color: white;
    font-weight: bold;
}
.perfil-membros>img{
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 15px;
}


.section-membros{

    width: 100%;

}
@media(max-width: 880px){
    .painelmembers{
        flex-direction: column;
        height: auto;
        padding: 1em;
    }
    .bg_membro{
        width: auto;
        min-width: 570px;
    }
  }
@media(max-width: 750px){
    .painelmembers{
        flex-direction: column;
        height: auto;
        padding: 1em;
    }
    .bg_membro{
        width: auto;
        min-width: 321px;
    }
  }
@media(max-width: 650px){
    .painelmembers{
    margin-left: 1em;
    margin-right: 1em;
    width: 93%;
    }
    .alinha{
        gap: 2em;
    }
}