<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/home.css">
    <link rel="stylesheet" href="/src/styles/info.css">
    <link rel="stylesheet" href="/src/styles/aval.css">

    <link rel="shortcut icon" href="/src/img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>CPA - BIOPARK</title>
</head>
<body>
  <header id="header">
    <div class="headerbg">
      <div class="logo">
        <img src="/src/img/Ativo 9cpa.png" alt="logo">
      </div>
      <div class="cpaLogo">
        <h1>C.P.A.</h1>
        <h2>Comissão Própria de Avaliação</h2>
      </div>
      <div class="images">
        <div class="rectangle">
          <a href="https://biopark.com.br" target="_blank">
            <img
            class="biopark"
            width="50px"
            src="/src/img/bpk-logo-simples.png"
            alt="Biopark Pag"
            />
          </div>
        </a>
        <div class="rectangle" target="_blank">
          <a href="#">
            <img
            class="facebook"
            width="50px"
            src="/src/img/facebook-logo.png"
            alt="Facebook Biopark"
            />
          </div>
        </a>
        <div class="rectangle" id="marginal" target="_blank">
          <a href="https://www.instagram.com/biopark_edu/">
            <img
            class="instagram"
            width="50px"
            src="/src/img/instagram-logo.png"
            alt="Instagram Biopark"
            />
          </div>
        </a>
      </div>
    </div>
    <div>
      <div class="line">
      </div>
    </div>
  </header>
      <main class="main">
        <aside class="menu">
          <a href="/src/views/index.html">
            <div class="item-menu">
              <div class="bordinha-item-menu"></div>
              <h3 id="textomenu">Inicio</h3>
            </div>
          </a>
          <a href="/src/views/aval.html">
            <div class="item-menu">
              <div class="bordinha-item-menu"></div>
              <h3 id="textomenu">Avaliação</h3>   
            </div>
          </a>
          <a href="/src/views/perguntas.html">
            <div class="item-menu">
              <div class="bordinha-item-menu"></div>
              <h3 id="textomenu">Perguntas</h3>
            </div>
          </a>
          <a href="/src/views/info.html">
            <div class="item-menu">
              <div class="bordinha-item-menu"></div>
              <h3 id="textomenu">Sobre</h3>
            </div>
          </a>

          <a href="#">
            <div class="item-menu">
              <div class="bordinha-item-menu"></div>
              <h3 id="textomenu">Membros</h3>
            </div>
          </a>

          <a href="#">
            <div class="item-menu">
              <div class="bordinha-item-menu"></div>
              <h3 id="textomenu">Legislação</h3>
            </div>
          </a>
          
          <a href="/src/views/contato.html">
            <div id="last-item-menu">
              <div class="bordinha-item-menu"></div>
              <h3 id="textomenu">Contato</h3>
            </div>
          </a>
          
        </aside>
        <section class="sec">
          <div class="container">   
            <div class="new">
              <h1 class="tituloNew">Avaliação</h1><br><br>
              <p>Avaliação semestral não disponível no momento! <br><br>  Utilize nosso <b><u> QR Code</u></b> para demais reclamações:</p>
              <img class="imgqrcode" src="/src/img/qrcode2.svg" alt="#">
              <p>Dúvidas? Acesse nosso<a href="https://bpkedu.com.br"> site!</a></p>
            </div>
          </div>
        </section>
      </main>
</body>
</html>