<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/home.css">
    <link rel="stylesheet" href="/src/styles/info.css">
    <link rel="stylesheet" href="/src/styles/aval.css">

    <link rel="shortcut icon" href="/src/img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>CPA - BIOPARK</title>
</head>
<body>
  <header id="header">
    <div class="headerbg">
      <aside>
        <input id="menuToggle" type="checkbox" style="display:none;">
        <div class="menurecolido">
          <a href="index.html">Home</a>
          <a href="aval.html">Avaliação</a>
          <a href="perguntas.html">Perguntas</a>
          <a href="info.html">Sobre</a>
          <a href="#">Membros</a>
          <a href="#">Legislação</a>
          <a href="contato.html">Contato</a>
        </div>
        <label id="menuButton" for="menuToggle">
          <div id="menuButtonIcon" style="padding:8px 8px 0px;width:3em;margin-top: 5px;">
              <svg viewBox="0 0 24.0 24.0" preserveAspectRatio="none">
                  <path
                      d="M5.75 5.25h12.5a.75.75 0 1 1 0 1.5H5.75a.75.75 0 0 1 0-1.5zm0 6h12.5a.75.75 0 1 1 0 1.5H5.75a.75.75 0 1 1 0-1.5zm0 6h12.5a.75.75 0 1 1 0 1.5H5.75a.75.75 0 1 1 0-1.5z">
                  </path>
              </svg>
          </div>
        </label>
      </aside>
      <div class="logoeimg">
      <div class="logo">
        <img src="/src/img/Ativo 9cpa.png" alt="logo">
      </div>
      <div class="cpaLogo">
        <h1>C.P.A.</h1>
        <h2>Comissão Própria de Avaliação</h2>
      </div>
      <div class="images">
        <div class="rectangle">
          <a href="https://biopark.com.br" target="_blank">
            <img
            class="biopark"
            width="50px"
            src="/src/img/bpk-logo-simples.png"
            alt="Biopark Pag"
            />
          </div>
        </a>
        <div class="rectangle" target="_blank">
          <a href="https://www.facebook.com/bioparkparquecientificoetecnologico">
            <img
            class="facebook"
            width="50px"
            src="/src/img/facebook-logo.png"
            alt="Facebook Biopark"
            />
          </div>
        </a>
        <div class="rectangle" id="marginal" target="_blank">
          <a href="https://www.instagram.com/biopark_edu/">
            <img
            class="instagram"
            width="50px"
            src="/src/img/instagram-logo.png"
            alt="Instagram Biopark"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
    <div>
      <div class="line">
      </div>
    </div>
  </header>
    <main class="main">
      <aside class="menu">
        
        <a href="/src/views/index.html">
          <div class="item-menu">
            <div class="bordinha-item-menu"></div>
            <h3 id="textomenu">Inicio</h3>
            
          </div>
        </a>
        <a href="/src/views/aval.html">
          <div class="item-menu">
            <div class="bordinha-item-menu"></div>
            <h3 id="textomenu">Avaliação</h3>
          </div>
        </a>
        <a href="/src/views/perguntas.html">
          <div class="item-menu">
            <div class="bordinha-item-menu"></div>
            <h3 id="textomenu">Perguntas</h3>
          </div>
        </a>
        <a href="/src/views/info.html">
          <div class="item-menu">
            <div class="bordinha-item-menu"></div>
            <h3 id="textomenu">Sobre</h3>
          </div>
        </a>

        <a href="#">
          <div class="item-menu">
            <div class="bordinha-item-menu"></div>
            <h3 id="textomenu">Membros</h3>
          </div>
        </a>

        <a href="#">
          <div class="item-menu">
            <div class="bordinha-item-menu"></div>
            <h3 id="textomenu">Legislação</h3>
          </div>
        </a>
        
        <a href="/src/views/contato.html  ">
          <div id="last-item-menu">
            <div class="bordinha-item-menu"></div>
            <h3 id="textomenu">Contato</h3>
          </div>
        </a>

      </aside>
        <section class="sec">
          <div class="containerAval">   
            <div class="newAval">
              <h1 class="tituloNewAval">Avaliação</h1><br><br>
              <p>Avaliação semestral não disponível no momento! <br><br>  Utilize nosso <b><u> QR Code</u></b> para demais reclamações:</p>
              <img class="imgqrcode" src="/src/img/qrcode2.svg" alt="#">
              <p>Dúvidas? Acesse nosso<a href="https://bpkedu.com.br"> site!</a></p>
            </div>
          </div>
        </section>
      </main>
      <footer id="footer" class="rodape" >

        <div class="rede-social">
    
            <a href="https://www.instagram.com/biopark_edu/"> <img src="/src/img/instagram.png" width="50em" alt="">Instagram</a>
    
            <a href="https://www.facebook.com/bioparkparquecientificoetecnologico"><img src="/src/img/facebook.png" width="50em" alt="">Facebook</a>
    
        </div>
    
        <div class="img-center">
            <p>B I O P A R K ® </p>
            <img src="/src/img/logo_biopark.png" width="50em" alt="">
            <p>Todos os Direitos Reservados</p>
        </div>
    
        <div id="mini-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3627.1743898766945!2d-53.71297392471489!3d-24.617673678088593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f3bd3658fec82d%3A0x9298e43c320c4a86!2zQmlvcGFyayBFZHVjYcOnw6Nv!5e0!3m2!1spt-BR!2sbr!4v1681945119472!5m2!1spt-BR!2sbr" frameborder=1 width="200px" height="200px" > </iframe>          
        </div>
      </footer>
</body>
</html>