<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/home.css" />
    <link rel="stylesheet" href="/src/styles/info.css">
    <link rel="shortcut icon" href="/src/img/favicon.png" type="image/x-icon">

    <script src="script.js"></script>
    <title>CPA - BIOPARK</title>
  </head>
  <body>
    <!DOCTYPE html>
        <header id="header">
          <div class="logoLeft">
            <a href="index.html">
              <img src="/src/img/Biopark.png" alt="CPA - BIOPARK" />
            </a>
          </div>
          <div class="cpaLogo">
            <h1>C.P.A.</h1>
            <h2>Comissão Própria de Avaliação</h2>
          </div>
          <div class="images">
            <div class="rectangle">
            <a href="https://biopark.com.br" target="_blank">
                <img
                  class="biopark"
                  width="50px"
                  src="/src/img/bpk-logo-simples.png"
                  alt="Biopark Pag"
                />
              </div>
            </a>
            <div class="rectangle">
            <a href="#" target="_blank">
                <img
                  class="facebook"
                  width="50px"
                  src="/src/img/facebook-logo.png"
                  alt="Facebook Biopark"
                />
              </div>
            </a>
            <div class="rectangle" id="marginal">
            <a href="https://www.instagram.com/biopark_edu/" target="_blank">
                <img
                  class="instagram"
                  width="50px"
                  src="/src/img/instagram-logo.png"
                  alt="Instagram Biopark"
                />
              </div>
            </a>
          </div>
          <div class="line">
          </div>
        </header>
        <main class="main">
          <aside class="menu">
            <a href="index.html">
              <div class="item-menu">
                <div class="bordinha-item-menu"></div>
                <h1 id="textomenu">Inicio</h1>
              </div>
            </a>
            <a href="aval.html">
              <div class="item-menu">
                <div class="bordinha-item-menu"></div>
                <h1 id="textomenu">Avaliação</h1>   
              </div>
            </a>
            <a href="#">
              <div class="item-menu">
                <div class="bordinha-item-menu"></div>
                <h1 id="textomenu">Perguntas</h1>
              </div>
            </a>
            <a href="info.html">
              <div class="item-menu">
                <div class="bordinha-item-menu"></div>
                <h1 id="textomenu">Sobre</h1>
              </div>
            </a>

            <a href="#">
              <div class="item-menu">
                <div class="bordinha-item-menu"></div>
                <h1 id="textomenu">Membros</h1>
              </div>
            </a>

            <a href="#">
              <div class="item-menu">
                <div class="bordinha-item-menu"></div>
                <h1 id="textomenu">Legislação</h1>
              </div>
            </a>
            
            <a href="#">
              <div id="last-item-menu">
                <div class="bordinha-item-menu"></div>
                <h1 id="textomenu">Contato</h1>
              </div>
            </a>
          
          </div>
        </aside>
        <section class="sec">
          <div class="container">   
            <div class="new">
              <h1 class="tituloNew">O que é CPA</h1>
              <p class="contentNew">A Comissão Própria de Avaliação (CPA) é um órgão colegiado presente em todas as instituições de ensino superior brasileiras, públicas e privadas, que tem como principal função coordenar e promover a avaliação interna da instituição, com o objetivo de aprimorar a qualidade acadêmica e administrativa. <br><br>
              A CPA é composta por representantes de diversos setores da instituição (docentes, técnicos administrativos, discentes e sociedade civil organizada) e é responsável por elaborar e aplicar questionários e outros instrumentos de avaliação, analisar os resultados e propor melhorias a partir das demandas identificadas. <br><br>
              Entre as atribuições da CPA, destacam-se: promover a participação da comunidade acadêmica nos processos de avaliação, elaborar e publicar relatórios de autoavaliação, acompanhar a execução do Plano de Desenvolvimento Institucional (PDI) e colaborar com os processos de avaliação externa realizados pelo Ministério da Educação (MEC).</p>
              <div class="baixoNew">
                  <div class="baixoNew" id="imagem" >
                      <img src="/src/img/img_daniele.png" alt="">
                  </div>
    
    
                  <div class="baixoNew"id="comentarioImage">
                          <p><b>Presidente da comissão própria de avaliação do Biopark</b>
                              <br><br>
                              <em>Daniele Wolfart</em></p>
                  </div>
              </div>
          </div>
        </section>
        </main>
      
      </body>
    </html>